<?php

return $config = [
   'db' => [
      'driver'    => "pgsql",
      'host'      => "localhost",
      'database'  => "glpi_telemetry",
      'username'  => "user",
      'password'  => "password",
      'charset'   => 'utf8',
      'collation' => 'utf8_unicode_ci',
      'prefix'    => '',
   ],
   'recaptcha' => [
      'sitekey'   => '',
      'secret'    => ''
   ],
   'mail_admin' => '',
   'mail_from' => 'glpi-telemetry@teclib.com',
   'debug' => true,
   'displayErrorDetails' => true,
   'addContentLengthHeader' => false,
];
