
/** charts **/
.dashboard {
   margin: 0 auto;
}

.chart {
   width: 350px;
   padding: 5px;
}

.chart-05 {
   width: 175px;
}

.chart-2 {
   width: 700px;
}

.chart button i {
   color: #CCC;
}
.chart .card {
   border: none;
   /*min-height: 380px;*/
   box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.chart .card-header {
   background-color: #FFF;
   border: none;
}

.chart .card-header .fa {
   font-size: .8em;
   outline-color: transparent;
}

.chart .card-header h3 {
   font-size: 1.2rem;
}


.chart .description {
   font-size: .8em;
   font-style: italic;
   color: rgba(0, 0, 0, .4);
}

.chart .card-block {
   padding: 3px;
}
.chart .card-block:not(.description) {
   height: 210px;
}

.chart .ct-golden-section {
   height: 100%;
}

#chart-top_plugins {
   background-color: #529AA5
}
#chart-top_plugins .card-header,
#chart-top_plugins .card-header i {
   background-color: #56ABB9;
   color: #FFF;
}

#chart-top_plugins i,
#chart-top_plugins .ct-label {
   color: #BEE1E7;
}

#chart-top_plugins .ct-series .ct-bar {
stroke: #22727B;
}

.ct-legend {
   position: relative;
   z-index: 10;
   list-style: none;
   text-align: center;
}
.ct-legend li {
   position: relative;
   margin-right: 10px;
   margin-bottom: 3px;
   padding-left: 23px;
   cursor: pointer;
   display: inline-block;
}
.ct-legend li:before {
   width: 16px;
   height: 16px;
   position: absolute;
   left: 0;
   top: 3px;
   content: '';
   border: 3px solid transparent;
   border-radius: 2px;
}
.ct-legend li.inactive:before {
   background: transparent;
}
.ct-legend.ct-legend-inside {
   position: absolute;
   top: 0;
   right: 0;
}
.ct-legend.ct-legend-inside li{
   display: block;
   margin: 0;
}
