
/** charts **/
.dashboard {
   margin: 0 auto;
}

.chart {
   width: 350px;
   padding: 5px;
}

.chart-05 {
   width: 175px;
}

.chart-2 {
   width: 700px;
}

@media (max-width: 700px) {
   .chart-2 {
      width:99%;
   }
}

.chart-2h .card-block:not(.description) {
   min-height: 420px;
}

.chart button i {
   color: #CCC;
}
.chart .card {
   border: none;
   /*min-height: 380px;*/
   box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.chart .card-header {
   background-color: #FFF;
   border: none;
}

.chart .card-header .fa {
   font-size: .8em;
   outline-color: transparent;
}

.chart .card-header h3 {
   font-size: 1.2rem;
}


.chart .description {
   font-size: .8em;
   font-style: italic;
   color: rgba(0, 0, 0, .4);
}

.chart .card-block {
   padding: 3px;
}
.chart .card-block:not(.description) {
   height: 210px;
}

.chart .ct-golden-section {
   height: 100%;
}

.big-number {
   font-size: 6rem;
   text-align: center;
   text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

#chart-nb_telemetry_entries,
#chart-nb_telemetry_entries .card-header,
#chart-nb_telemetry_entries .card-header i {
   background-color: #BBE1C3;
   color: #1E4526;
}

#chart-nb_reference_entries,
#chart-nb_reference_entries .card-header,
#chart-nb_reference_entries .card-header i {
   background-color: #E9B59F;
   color: #C24A19;
}

#chart-top_plugins {
   background-color: #529AA5
}
#chart-top_plugins .card-header,
#chart-top_plugins .card-header i {
   background-color: #56ABB9;
   color: #FFF;
}

#chart-top_plugins i,
#chart-top_plugins .ct-label {
   color: #BEE1E7;
}

#chart-top_plugins .ct-series .ct-bar {
stroke: #22727B;
}

#chart-os_family,
#chart-os_family .card-header,
#chart-os_family .card-header i {
   background-color: #E9AA63;
   color: #4E3C28;
}

#chart-os_family i,
#chart-os_family .ct-label {
   fill: #4E3C28;
}

#chart-web_engines,
#chart-web_engines .card-header,
#chart-web_engines .card-header i {
   background-color: #1A5197;
   color: #C8E0FF;
}

#chart-web_engines i,
#chart-web_engines .ct-label {
   fill: #C8E0FF;
}

#chart-references_countries,
#chart-references_countries .card-header,
#chart-references_countries .card-header i {
   background-color: #d1d1d1;
   color: #4F4F4F;
}

#references_countries .country_info {
   padding: 6px 8px;
   background: white;
   background: rgba(255,255,255,0.4);
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   border-radius: 5px;
}

#d1d1d1