
/** charts **/
.dashboard {
   margin: 0 auto;
}

.chart {
   width: 350px;
   padding: 5px;
}

.chart-05 {
   width: 175px;
}

.chart-2 {
   width: 700px;
}

.chart button i {
   color: #CCC;
}
.chart .card {
   border: none;
   /*min-height: 380px;*/
   box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

.chart .card-header {
   background-color: #FFF;
   border: none;
}

.chart .card-header .fa {
   font-size: .8em;
   outline-color: transparent;
}

.chart .card-header h3 {
   font-size: 1.2rem;
}


.chart .description {
   font-size: .8em;
   font-style: italic;
   color: rgba(0, 0, 0, .4);
}

.chart .card-block {
   padding: 3px;
}
.chart .card-block:not(.description) {
   height: 210px;
}

.chart .ct-golden-section {
   height: 100%;
}

#chart-top_plugins {
   background-color: #529AA5
}
#chart-top_plugins .card-header,
#chart-top_plugins .card-header i {
   background-color: #56ABB9;
   color: #FFF;
}

#chart-top_plugins i,
#chart-top_plugins .ct-label {
   color: #BEE1E7;
}

#chart-top_plugins .ct-series .ct-bar {
stroke: #22727B;
}

#chart-os_family,
#chart-os_family .card-header,
#chart-os_family .card-header i {
   background-color: #E9AA63;
   color: #4E3C28;
}

#chart-os_family i,
#chart-os_family .ct-label {
   fill: #4E3C28;
}

#chart-os_family .ct-series-a .ct-slice-donut {
   stroke: #D69C5C;
}
#chart-os_family .ct-series-b .ct-slice-donut {
   stroke: #CD8A3F;
}
#chart-os_family .ct-series-c .ct-slice-donut {
   stroke: #BF813C;
}

#chart-web_engines,
#chart-web_engines .card-header,
#chart-web_engines .card-header i {
   background-color: #1A5197;
   color: #C8E0FF;
}

#chart-web_engines i,
#chart-web_engines .ct-label {
   fill: #C8E0FF;
}

#chart-web_engines .ct-series-a .ct-slice-donut {
   stroke: #2F68B2;
}
#chart-web_engines .ct-series-b .ct-slice-donut {
   stroke: #3E78C3;
}
#chart-web_engines .ct-series-c .ct-slice-donut {
   stroke: #3E78C3#4B85CF;
}