<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="node_modules/tether/dist/css/tether.min.css" />
      <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
      <link rel="stylesheet" href="node_modules/select2/dist/css/select2.min.css" />
      <link rel="stylesheet" href="css/base.css" />

      {% block head %}
         <title>GLPI Telemetry - {% block title %}{% endblock %}</title>
      {% endblock %}
   </head>
   <body class="{{ class }}">
      {% include "partials/nav.html" %}

      <div id="content">
         {% block content %}{% endblock %}
      </div>

      {% include "partials/footer.html" %}

      <script src="node_modules/jquery/dist/jquery.min.js"></script>
      <script src="node_modules/tether/dist/js/tether.min.js"></script>
      <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="node_modules/bootstrap-notify/bootstrap-notify.min.js"></script>
      <script src="node_modules/select2/dist/js/select2.min.js"></script>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <script src="js/base.js"></script>

      {% include "partials/alerts.html" %}
      {% block userscripts %}{% endblock %}
    </body>
</html>
