<div class="page-footer" id='footer'>
   <div class="container">

      <ul class="footer-links">
         <li>Our sites:</li>
         <li><a href="http://glpi-project.org">
            <i class="fa fa-globe"></i>
            Glpi-project</a></li>
         <li><a href="http://plugins.glpi-project.org">
            <i class="fa fa-puzzle-piece"></i>
            Plugins</a></li>
         <li><a href="http://forum.glpi-project.org">
            <i class="fa fa-comments-o"></i>
            Forum</a></li>
         <li><a href="http://suggest.glpi-project.org">
            <i class="fa fa-lightbulb-o"></i>
            Suggest</a></li>
      </ul>

      {% block footer %}
      <p>&copy; Copyright 2017 by <a href="http://glpi-project.org">GLPI</a>.</p>
      {% endblock %}
   </div>
</div>