{% extends "partials/base.html" %}
{% block title %}References{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="node_modules/country-flags-sass/flags.css" />
{% endblock %}

{% block content %}
<div class="page-header">
   <div class="container">
      <h1>References</h1>
   </div>
</div>

<div class="container">

   <div class="row">

      <div class="col">
         <div class="card">
            <div class="card-header">Register your own instance</div>
            <div class="card-block">
               <form method="post">
                  <div class="form-group">
                     <label class="sr-only" for="name">Name</label>
                     <input class="form-control form-control-sm" type="text"
                           required="required"
                           name='name'
                           placeholder="Your name">
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="url">Url</label>
                     <input class="form-control form-control-sm" type="url"
                            name='url'
                            placeholder="URL">
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="country">Country</label>
                     <select class="form-control"
                             id="countries_select"
                             name="country"
                             placeholder="Country">
                        <option></option>
                        {% for country in countries %}
                        <option value="{{country.cca2}}">{{country.name.common}}</option>
                        {% endfor %}
                     </select>
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="phone">Phone</label>
                     <input class="form-control form-control-sm" type="text"
                            name='phone'
                            placeholder="Phone">
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="email">Email</label>
                     <input class="form-control form-control-sm" type="email"
                            name="email"
                            placeholder="Email">
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="referent">Referent</label>
                     <input class="form-control form-control-sm" type="text"
                            name="referent"
                            placeholder="Referent">
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="num_assets">Number of asset</label>
                     <input class="form-control form-control-sm" type="number"
                            name="num_assets"
                            placeholder="Number of asset">
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="num_helpdesk">Number of helpdesk entries</label>
                     <input class="form-control form-control-sm" type="number"
                            name="num_helpdesk"
                            placeholder="Number of helpdesk entries">
                  </div>

                  <div class="form-group">
                     <label class="sr-only" for="comment">Comment</label>
                     <textarea class="form-control form-control-sm"
                               name="comment"
                               placeholder="Your message"></textarea>
                  </div>

                  <button type="submit" class="btn btn-outline-primary">Register</button>
               </form>
            </div>
         </div>
      </div>

      <div class="col-12  col-md-auto">

         <h4>They already have registered their GLPI installation</h4>

         <table class="table table-striped table-sm table-responsive">
            <thead>
               <tr>
                  <td>
                     <a href='/reference?orderby=name'>Nom</a>
                  </td>
                  <td>
                     <a href='/reference?orderby=country'>Pays</a>
                  </td>
                  <td>
                     <a href='/reference?orderby=num_assets'>Nb assets</a>
                  </td>
                  <td>
                     <a href='/reference?orderby=created_at'>Date inscription</a>
                  </td>
               </tr>
            </thead>
            <tbody>
               {% for reference in references %}
               <tr>
                  <td>{{reference.name}}</td>
                  <td>
                     <span class="flag flag-{{reference.country}}" title="{{reference.country}}"></span>
                  </td>
                  <td>{{reference.num_assets}}</td>
                  <td>{{reference.created_at}}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>

         <nav aria-label="Page navigation">
            {{ references.render() |raw }}
         </nav>
      </div>
   </div>

</div>
{% endblock %}

{% block userscripts %}

<script type="text/javascript">
$(document).ready(function() {
   var countries_s2 = $("#countries_select").select2({
      templateSelection: formatState,
      templateResult: formatState,
      placeholder: "Country"
   });

   getCountryCode.done(function(result) {
      countries_s2
         .val(result.country_code)
         .trigger("change")
   });
});
</script>
{% endblock %}
