{% extends "partials/base.html" %}
{% block title %}References{% endblock %}
{% block content %}



<div class="page-header">
   <div class="container">
      <h1>References</h1>
   </div>
</div>

<div class="container">

   <div class="row">

      <div class="col">

         <h4>Register your own instance</h4>

         <form>
            <div class="form-group">
               <label class="sr-only" for="name">Name</label>
               <input class="form-control form-control-sm" id="name" type="text"
                     required="required"
                     placeholder="Your name">
            </div>

            <div class="form-group">
               <label class="sr-only" for="url">Url</label>
               <input class="form-control form-control-sm" id="url" type="url"
                     placeholder="URL">
            </div>

            <div class="form-group">
               <label class="sr-only" for="country">Country</label>
               TODO COUNTRY
            </div>

            <div class="form-group">
               <label class="sr-only" for="phone">Phone</label>
               <input class="form-control form-control-sm" id="phone" type="text"
                     placeholder="Phone">
            </div>

            <div class="form-group">
               <label class="sr-only" for="email">Email</label>
               <input class="form-control form-control-sm" id="email" type="email"
                     placeholder="Email">
            </div>

            <div class="form-group">
               <label class="sr-only" for="referent">Referent</label>
               <input class="form-control form-control-sm" id="referent" type="text"
                     placeholder="Referent">
            </div>

            <div class="form-group">
               <label class="sr-only" for="num_assets">Number of asset</label>
               <input class="form-control form-control-sm" id="num_assets" type="number"
                     placeholder="Number of asset">
            </div>

            <div class="form-group">
               <label class="sr-only" for="num_helpdesk">Number of helpdesk entries</label>
               <input class="form-control form-control-sm" id="num_helpdesk" type="number"
                     placeholder="Number of helpdesk entries">
            </div>

            <div class="form-group">
               <label class="sr-only" for="comment">Comment</label>
               <textarea class="form-control form-control-sm" id="comment"
                        placeholder="Your message"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
         </form>

      </div>

      <div class="col-12  col-md-auto">

         <h4>They already have registered their GLPI installation</h4>

         <table class="table table-striped">
            <thead>
               <tr>
                  <td>Nom</td>
                  <td>Pays</td>
                  <td>Nb assets</td>
                  <td>Date inscription</td>
               </tr>
            </thead>
            <tbody>
               {% for reference in references %}
               <tr>
                  <td>{{reference.name}}</td>
                  <td>{{reference.country}}</td>
                  <td>{{reference.num_assets}}</td>
                  <td>{{reference.date_creation}}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>

         <nav aria-label="Page navigation">
            {{ references.render() |raw }}
         </nav>
      </div>
   </div>

</div>

{% endblock %}
