{% extends "partials/base.html" %}
{% block title %}Telemetry{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="node_modules/chartist/dist/chartist.min.css" />
    <link rel="stylesheet" href="node_modules/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css"></script>
    <link rel="stylesheet" href="node_modules/prismjs/themes/prism.css"></script>

{% endblock %}

{% block header %}
{% set myheader= {
   'title': '<i class="fa fa-bar-chart"></i> Telemetry',
   'text':  'Since version 9.2 of GLPI, we collect anonymous
             <a id="register" href="#" data-toggle="modal" data-target="#json_data_example">data</a> from instance of voluntary users.
             Here is some representations of theses data.',
} %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container">

   <div class="row">
      <div class="col-sm-4 chart">
      {% set vars = {'chart': {
                        'id':    'php_versions',
                        'title': 'PHP versions',
                        'text':  'grouped on major versions',
                        'data':  php_versions
                     }} %}
      {% include 'partials/chart.html' with vars %}
      </div>

      <div class="col-sm-4 chart">
      {% set vars = {'chart': {
                        'id':    'glpi_versions',
                        'title': 'GLPI versions',
                        'text':  'Note: we don&apos;t have any data for glpi versions inferior to 9.2',
                        'data':  glpi_versions
                     }} %}
      {% include 'partials/chart.html' with vars %}
      </div>

      <div class="col-sm-4 chart">
      {% set vars = {'chart': {
                        'id':    'top_plugins',
                        'title': 'Top plugins',
                        'text':  'Only the top 5 is displayed',
                        'data':  top_plugins
                     }} %}
      {% include 'partials/chart.html' with vars %}
      </div>

      <div class="col-sm-4 chart">
      {% set vars = {'chart': {
                        'id':    'os_family',
                        'title': 'Operating systems',
                        'text':  'Family of operatings systems',
                        'data':  os_family
                     }} %}
      {% include 'partials/chart.html' with vars %}
      </div>

   </div>
</div>

<div class="modal fade" id="json_data_example">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Example of Json data sended by GLPI</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <pre><code class="language-json">{{json_data_example | raw}}</code></pre>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block userscripts %}
{{ parent() }}

<script src="node_modules/chartist/dist/chartist.min.js"></script>
<script src="node_modules/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="node_modules/prismjs/prism.js"></script>
<script src="node_modules/prismjs/components/prism-json.js"></script>
<script src="js/telemetry.js"></script>

{% endblock %}