.page-header {
   padding: 2rem 15px;
   margin-bottom: 1.5rem;
   color: #fff;
   text-align: center;
   background-color: #25a2dd;
}

.page-header h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
}

.page-header a {
  font-weight: bolder;
  color: #FFF;
  text-decoration: underline;
}

@media (min-width: 576px) {
   .page-header {
      padding-top: 4rem;
      padding-bottom: 4rem;
      margin-bottom: 3rem;
      text-align: left;
   }
}

@media (min-width: 576px) {
   .page-footer {
      text-align: left;
   }
}

.page-footer {
    padding: 4rem 0;
    margin-top: 4rem;
    font-size: 85%;
    text-align: center;
    background-color: #f7f7f7;
}


.page-footer a {
   font-weight: 500;
   color: #464a4c;
}

.footer-links li {
    display: inline-block;
}

.footer-links li+li {
    margin-left: 1rem;
}

table.glpi_references th,
table.glpi_references td {
  max-width: 300px;
}

.elipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#register_reference {
  display: none;
}

td.sort

/** make boostrap alerts floating */
.alert-fixed {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100%
  z-index:9999;
  border-radius:0px
}

/** matches select2 style with boostrap **/
.select2-container--default .select2-selection--single {
   border: 1px solid rgba(0,0,0,.15);
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
   color: #636c72;
   line-height: normal;
}
