{% extends "./partials/base.html" %}
{% block title %}Server error{% endblock %}

{% block header %}
{% set myheader= {
   'class': 'error',
   'title': '<i class="fa fa-exclamation-triangle"></i> Server Error !',
   'text':  'An error triggered',
} %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong>
      <p>{{exception.message}}</p>

      <button class="btn btn-secondary" onclick="javascript:history.back()">Back</button>
    </div>

</div>
{% endblock %}