<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="Cache-control" content="no-cache">

      <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
      <link rel="stylesheet" href="node_modules/tether/dist/css/tether.min.css" />
      <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css" />
      <link rel="stylesheet" href="css/base.css" />

      {% block head %}
         <title>GLPI Telemetry - {% block title %}{% endblock %}</title>
      {% endblock %}
   </head>
   <body class="{{ class }}">
      {% include "partials/nav.html" %}

      <div id="page">
         {% block header %}
         <div class="page-header {{myheader.class}}">
            <div class="container">
               <h1>{{myheader.title | raw}}</h1>
               <p>{{myheader.text | raw}}</p>
            </div>
         </div>
         {% endblock %}

         <div class="page-content">
            {% block content %}{% endblock %}
         </div>
      </div>

      {% include "partials/footer.html" %}

      <script src="node_modules/jquery/dist/jquery.min.js"></script>
      <script src="node_modules/tether/dist/js/tether.min.js"></script>
      <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="node_modules/bootstrap-notify/bootstrap-notify.min.js"></script>
      <script src="js/base.js"></script>

      {% block userscripts %}
      {% include "partials/alerts.html" %}

      <script type="text/javascript">
      var countries     = {{ countries     | raw }};
      var countries_geo = {{ countries_geo | raw }};
      </script>

      {% endblock %}
    </body>
</html>
