<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="Cache-control" content="no-cache">

      <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
            integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
            crossorigin="anonymous">
      <link rel="stylesheet" href="css/base.css" />

      {% block head %}
        <title>{{project_name}} Telemetry - {% block title %}{% endblock %}</title>
      {% endblock %}
   </head>
   <body class="{{ class }}">
      {% include "partials/nav.html" %}

      <div id="page">
         {% block header %}
         <div class="page-header {{myheader.class}}">
            <div class="container">
               <h1>{{myheader.title | raw}}</h1>
               <p>{{myheader.text | raw}}</p>
            </div>
         </div>
         {% endblock %}

         <div class="page-content">
            {% block content %}{% endblock %}
         </div>
      </div>

      {% include "partials/footer.html" %}

      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js"></script>
      <script src="https://use.fontawesome.com/e27b876790.js"></script>
      <script src="js/base.js"></script>

      {% block userscripts %}
      {% include "partials/alerts.html" %}

      {% endblock %}
    </body>
</html>
