<div class="page-footer" id='footer'>
    <div class="container">

        <ul class="footer-links">
            <li>Our sites:</li>
    {% for text, link in footer_links %}
            <li>
                <a href="{{link.url}}">
                    {%- if link.faclass is defined -%}
                        <i class="{{link.faclass}}"></i>&nbsp;
                    {%- endif -%}
                    {{-text-}}
                </a>
            </li>
    {% endfor %}
        </ul>

    {% block footer %}
        <p><a href="https://glpi-project.github.io/telemetry">PHP Telemetry</a> &copy; 2017-2018 <a href="http://glpi-project.org">GLPI</a></p>
    {% endblock %}
    </div>
</div>
