<header class="navbar navbar-toggleable-md navbar-light bg-faded">
   <nav class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="./telemetry">
         <img src="pics/logo.png" title="GLPI Usage" />
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
            <a class="nav-item nav-link {{ class == 'telemetry' ? 'active'}}"
               href="./telemetry">
               <i class='fa fa-bar-chart'></i>
               Telemetry</a>
            <a class="nav-item nav-link {{ class == 'reference' ? 'active'}}"
               href="./reference">
               <i class='fa fa-users'></i>
               References</a>
            <a class="nav-item nav-link {{ class == 'contact' ? 'active'}}"
               href="./contact">
               <i class='fa fa-envelope'></i>
               Contact</a>
         </div>
      </div>
   </nav>
</header>